% extends 'base.html'

% block content

<div id="react-image-tagger"></div>
<script>
IMAGE_URL = {{url_for('static',filename='files/'+file.filename)|tojson|safe}};
</script>

<script type="text/jsx">
React.render(
	<TaggingActivity
	image_url={IMAGE_URL}
	/>,
	document.getElementById("react-image-tagger")
)
</script>


<form method="post" action="{{url_for('file.delete', file_id=file.id)}}" style="float:right; margin-top:15px">
	<div class="form-group">
		<button class="btn btn-danger">Delete File</button>
	</div>
</form>

% endblock