% extends 'base.html'

% block variables
<script>
IMAGE_URL = {{url_for('static',filename='files/'+file.filename)|tojson|safe}};
SYNC_URL = {{url_for('api.file_info_sync', file_id=file.id)|tojson|safe}}
ENTRY_POINT = 'tag-file'
</script>
% endblock

% block content
<div id="react-image-tagger"></div>

<form method="post" action="{{url_for('file.delete', file_id=file.id)}}" style="float:right; margin-top:15px">
	<div class="form-group">
		<button class="btn btn-danger">Delete File</button>
	</div>
</form>

% endblock