% extends 'base.html'

% block content

<div id="react-image-tagger"></div>
<script>
IMAGE_URL = {{url_for('static',filename='files/'+file.filename)|tojson|safe}};
</script>

{#
<script type="text/jsx">
React.render(
	<ReactTagsInput
	tags={['cute','cartoon']}
	possible_tags={['cute','cartoon','squirrel','bunny']}
	/>,
	document.getElementById("react-image-tagger")
)
</script>
#}

<script type="text/jsx">
React.render(
	<AutoCompleteTagger
	tags={['cute','cartoon']}
	possible_tags={['cute','cartoon','squirrel','bunny']}
	/>,
	document.getElementById("react-image-tagger")
)
</script>


{#
<script type="text/jsx">
React.render(
	<TagDelta
	tags={['cute','cartoon']}
	/>,
	document.getElementById("react-image-tagger")
)
</script>

<script type="text/jsx">
React.render(
	<TaggingActivity


	image_url={IMAGE_URL}
	/>,
	document.getElementById("react-image-tagger")
)
</script>
#}


{#
<div class="row">
	<div class="col-sm-4 col-md-3 col-lg-2">
		<form action="{{url_for('tag.file', file_id=file.id)}}" method="POST">
			<div class="form-group">
				<label for="things">Thing Tags</label>
				<input type="text" name="things" id="things" class="thing-field" value="{{file.thing_names}}">
				<p class="help-block">What characters and objects are in this picture?  Don't describe them here.  Tag them first, then describe them globally.</p>
			</div>

			<div class="form-group">
				<label for="tags">Scene Tags</label>
				<input type="text" name="tags" id="tags" class="tag-field" value="{{file.tag_names}}">
				<p class="help-block">What is happening in this picture?</p>
			</div>

			<h2>Things</h2>
			<p class="help-block">Does this thing appear differently in this picture from how it usually does?  Edit the tags for this particular appearance here.</p>
			% for thing in file.things
				<div>
					<h3><a href="{{url_for('thing.show', thing_id=thing.id)}}">{{thing.name}}</a></h3>

					<div class="form-group">
						<label for="tags">This Appearance Tags</label>
						<input type="text" name="thing-{{thing.id}}-tags" id="tags" class="tag-field" value="{{delta_tags(file,thing)}}">
					</div>
				</div>
			% endfor

			<button class="btn btn-default">Tag</button>
		</form>
	</div>
	<div class="col-sm-8 col-md-9 col-lg-10">
		<img src="{{url_for('static',filename='files/'+file.filename)}}" class="file view">
	</div>
</div>
#}

<form method="post" action="{{url_for('file.delete', file_id=file.id)}}" style="float:right; margin-top:15px">
	<div class="form-group">
		<button class="btn btn-danger">Delete File</button>
	</div>
</form>

% endblock