% extends 'base.html'

% block content
<h1>{{thing.name}}</h1>

<div class="row">
	<div class="col-sm-4 col-md-3 col-lg-2">
		<form
			class="inline-form"
			action="{{url_for('tag.thing', thing_id=thing.id)}}"
			method="POST"
			>

			<div class="form-group">
				<label for="tags">Tags</label>
				<input
				type="text"
				name="tags"
				id="tags"
				class="tag-field"
				value="{{thing.tag_names}}"
				>
				<p class="help-block">Describe this character or object.  These tags will apply to every appearance it makes in an image.</p>
			</div>
			<button class="btn btn-default">Tag</button>
		</form>
	</div>
	<div class="col-sm-8 col-md-9 col-lg-10">
		% for file in thing.files
		% include 'partial/file_thumbnail.html'
		% endfor
	</div>
</div>
% endblock