.files {
	overflow:hidden;
}

.file {
}

.file.thumbnail {
	width: 300px;
	height: 300px;
	float: left;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.file.view {
	width: 100%;
}