<!doctype html>
<html>
<head>
<title>Thing Tagger</title>
<link rel="stylesheet" href="{{url_for('static', filename='bower_components/selectize/dist/css/selectize.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css')}}">
% block head_end
% endblock
</head>
<body>
% include 'partial/messages.html'
% include 'partial/top_nav.html'

% block content
% endblock

<script>
TAG_NAMES = {{TAG_NAMES|tojson|safe}};
THING_NAMES = {{THING_NAMES|tojson|safe}};
</script>

<script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/microplugin/src/microplugin.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sifter/sifter.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/selectize/dist/js/selectize.js')}}"></script>
<script src="{{url_for('static', filename='scripts/selectize.js')}}"></script>

% block body_end
% endblock
</body>
</html>