<!doctype html>
<html>
<head>
<title>Thing Tagger</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='bower_components/selectize/dist/css/selectize.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='non_bower_components/react-tagsinput/react-tagsinput.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

<script>
TAG_NAMES = {{TAG_NAMES|tojson|safe}};
THING_NAMES = {{THING_NAMES|tojson|safe}};
</script>
% block variables
% endblock

% block head_end
% endblock
</head>
<body>
% include 'partial/top_nav.html'

<div class="container-fluid">
	
	% include 'partial/messages.html'
	
	% block content
	% endblock
</div>


<script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/underscore/underscore-min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/microplugin/src/microplugin.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/sifter/sifter.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/selectize/dist/js/selectize.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/react/react.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/react/JSXTransformer.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/react-router/build/global/ReactRouter.js')}}"></script>
{#<script src="{{url_for('static', filename='bower_components/cortexjs/build/cortex.js')}}"></script>#}
<script src="https://cdn.rawgit.com/mquan/cortex/master/build/cortex.js"></script>
<script src="{{url_for('static', filename='non_bower_components/react-tagsinput/react-tagsinput.js')}}"></script>
<script src="{{url_for('static', filename='scripts/selectize.js')}}"></script>
<script src="{{url_for('static', filename='bundle.js')}}"></script>

% block body_end
% endblock
</body>
</html>