% extends 'base.html'

% block content
<h1>{{thing.name}}</h1>

<form
	class="inline-form"
	action="{{url_for('tag.thing', thing_id=thing.id)}}"
	method="POST"
	>

	<div class="form-group">
		<label for="tags">Tags</label>
		<div class="input-group">
			<input
			type="text"
			name="tags"
			id="tags"
			class="tag-field"
			value="{{thing.tag_names}}"
			>

			<span class="input-group-btn">
				<button class="btn btn-default">Tag</button>
			</span>
		</div>
	</div>
</form>



</form>


% for file in thing.files
% include 'partial/file_thumbnail.html'
% endfor

% endblock