<form 
	class="navbar-form"
	role="search"
	action="{{url_for('file.list')}}"
	method="GET"
	>

	<div class="form-group">
		<div class="input-group">
			<input
			class="tag-thing-field search"
			placeholder="Search"
			type="text"
			name="search"
			value="{{search}}">

			<span class="input-group-btn">
				<button class="btn btn-default">Search</button>
			</span>
		</div>
	</div>

	<div class="checkbox">
		<label>
			<input type="checkbox" name="one_thing" value="true"
			% if request.values.get('one_thing') == 'true'
			checked
			% endif
			> One Thing
		</label>
	</div>

	<a href="{{url_for('file.advanced-search')}}">Advanced</a>
</form>
