% import 'macros.html' as macros with context

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Tagger</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="{{macros.active_blueprint_class('file')}}"><a href="{{url_for('file.list')}}">Files</a></li>
				<li class="{{macros.active_endpoint_class('file.new')}}"><a href="{{url_for('file.new')}}">&gt; Upload</a></li>
				<li class="{{macros.active_blueprint_class('thing')}}"><a href="{{url_for('thing.list')}}">Things</a></li>
				<li class="{{macros.active_endpoint_class('thing.new')}}"><a href="{{url_for('thing.new')}}">&gt; New</a></li>
				<li class="{{macros.active_blueprint_class('tag')}}"><a href="{{url_for('tag.list')}}">Tags</a></li>
			</ul>
			% include 'partial/search_form.html'
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>